h1#titan {
  color: #FEA431;
  font-size: 60px;
  font-family: 'Titan One';
}
h1#black {
  color: #FEA431;
  font-size: 60px;
  font-family: 'Black Han Sans', sans-serif;
}
h1#josefin {
  color: #FEA431;
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
}
h1#acme {
  color: #FEA431;
  font-size: 60px;
  font-family: 'Acme', sans-serif;
}
h1#shrikhand{
  color: #FEA431;
  font-size: 60px;
  font-family: 'Shrikhand', cursive;
}
h1#monoton {
  color: #FEA431;
  font-size: 60px;
  font-family: 'Monoton', cursive;
}
h1#sigmar{
  color: #FEA431;
  font-size: 60px;
  font-family: 'Sigmar One', cursive;
}
h1#reem {
  color: #FEA431;
  font-size: 60px;
  font-family: 'Reem Kufi', sans-serif;

}
